.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 650;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: -15px;
  margin-top: -12px;
}

.header .header__back-btn {
  font-size: 24px;
  margin-right: 20px;
}

.header__name {
  padding-left: 10px;
  font-size: 20px;
}
